<div id="main-content">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="page-title"><?= $store->name ?></h1>
        </div>
        <div class="row">
            <form id="basic-form" action="" method="post">
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="form-group">
                            <label>Store Name</label>
                            <input name="name" type="text" class="form-control" value="<?= $store->name ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Description</label>
                            <input name="description" type="text" class="form-control" value="<?= $store->description ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Meta</label>
                            <input name="meta" type="text" class="form-control" value="<?= $store->meta ?>">
                        </div>
                        <div class="form-group">
                            <label>Store favicon</label>
                            <input name="favicon" type="text" class="form-control" value="<?= $store->favicon ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Logo</label>
                            <input name="logo" type="text" class="form-control" value="<?= $store->logo ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Email</label>
                            <input name="email" type="text" class="form-control" value="<?= $store->email ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Contact #</label>
                            <input name="contact" type="text" class="form-control" value="<?= $store->contact ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Customer Service Email</label>
                            <input name="customer_service_email" type="text" class="form-control" value="<?= $store->customer_service_email ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Customer Service Number</label>
                            <input name="customer_service_number" type="text" class="form-control" value="<?= $store->customer_service_number ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Address</label>
                            <input name="address" type="text" class="form-control" value="<?= $store->address ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Tag Line</label>
                            <input name="slogan" type="text" class="form-control" value="<?= $store->slogan ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Facebook</label>
                            <input name="facebook" type="text" class="form-control" value="<?= $store->facebook ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Twitter</label>
                            <input name="twitter" type="text" class="form-control" value="<?= $store->twitter ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Google Plus</label>
                            <input name="googleplus" type="text" class="form-control" value="<?= $store->googleplus ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Instagram</label>
                            <input name="instagram" type="text" class="form-control" value="<?= $store->instagram ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Youtube</label>
                            <input name="youtube" type="text" class="form-control" value="<?= $store->youtube ?>">
                        </div>
                        <div class="form-group">
                            <label>Store Linkedin</label>
                            <input name="linkedin" type="text" class="form-control" value="<?= $store->linkedin ?>">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>