<!-- //banner -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="banner_bottom_agile_info_inner_w3ls">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <a href="<?= $trending2->navigation_url ?>">
                <figure class="effect-roxy">
                    <img src="<?= $trending2->image ?>" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><?= $trending2->label ?></h3>
                        <p><?= $trending2->description ?></p>
                    </figcaption>
                </figure>
                </a>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <a href="<?= $trending3->navigation_url ?>">
                <figure class="effect-roxy">
                    <img src="<?= $trending3->image ?>" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><?= $trending3->label ?></h3>
                        <p><?= $trending3->description ?></p>
                    </figcaption>
                </figure>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>