<!--/grids-->
<div class="agile_last_double_sectionw3ls">
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="<?= $trending6->navigation_url ?>"><img src="<?= $trending6->image ?>" alt=" "><h4><?= $trending6->label ?></h4></a>

    </div>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="<?= $trending7->navigation_url ?>"><img src="<?= $trending7->image ?>" alt=" "><h4><?= $trending7->label ?></h4></a>
    </div>
    <div class="clearfix"></div>
</div>
<!--/grids-->